<h1>Welcome to the Nested Forms Lab!</h1>
let's navigate to the '/new'
<form method="POST" action="/pirates">
  Pirate name:<input type="text" name="pirate[name]">
  Pirate height:<input type="text" name="pirate[height]">
  Pirate weight:<input type="text" name="pirate[weight]">
  Ship name:<input type="text" id = "ship_name_1" name="pirate[ships][][name]">
  Ship type:<input type="text" id = "ship_type_1"name="pirate[ships][][type]">
  Ship booty:<input type="text" id = "ship_booty_1" name="pirate[ships][][booty]">
  Ship name:<input type="text" id = "ship_name_2" name="pirate[ships][][name]">
  Ship type:<input type="text" id = "ship_type_2" name="pirate[ships][][type]">
  Ship booty:<input type="text" id = "ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" id="Submit">
</form>
